<p>{{screenTitle}}</p>
<div>
    <p-button label="Primary" [raised]="true" />
    <p-button label="Secondary" [raised]="true" severity="secondary" />
    <p-button label="Success" [raised]="true" severity="success" />
    <p-button label="Info" [raised]="true" severity="info" />
    <p-button label="Warn" [raised]="true" severity="warn" />
    <p-button label="Help" [raised]="true" severity="help" />
    <p-button label="Danger" [raised]="true" severity="danger" />
    <p-button label="Contrast" [raised]="true" severity="contrast" />

</div>
