@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Task Index</h1>

<p>
    <a asp-controller="Tasks" asp-action="Add" class="btn btn-primary">Create New</a>
</p>